@font-face {
  font-family: "Lemon Milk Regular";
  src: url("/static/fonts/lemon-milk-regular.otf") format("opentype");
}

@font-face {
  font-family: "Questrial Regular";
  src: url("/static/fonts/questrial-regular.ttf") format("truetype");
}

:root {
  --primary-color: #a41e35;
  --primary-color-50: #C47988;
  --primary-color-25: #E1BAC1;
  --secondary-color: #2e3440;
  --light-color: #f8f8f8;
  --secondary-light-color: #f8f8f8;
  --dark-color: #2e3440;

  /* bamboo.css overrides */
  --b-font-main: Questrial Regular, sans-serif;
	--b-txt: var(--light-color);
	--b-bg-1: var(--primary-color);
	--b-bg-2: var(--secondary-color);
	--b-line: var(--secondary-color);
	--b-link: var(--light-color);
	--b-btn-bg: var(--light-color);
	--b-btn-txt: var(--primary-color);
	--b-focus: var(--primary-color-50);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  max-width: unset;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 960px;
}

nav,
.addendum {
  background: var(--secondary-color);
}

h1,
.subheading {
  color: var(--light-color);
  font-family: Lemon Milk Regular, sans-serif;
  text-align: center;
}

h1 {
  margin: 1rem 0 0;
}

h1 a,
h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:focus,
h1 a:active {
  color: var(--light-color);
  display: block;
  text-decoration: none;
}

.heading {
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin-bottom: 0.2rem;
  text-shadow: 1px 1px 0 var(--primary-color-50),
    2px 2px 0 var(--primary-color-50),
    3px 3px 0 var(--primary-color-50),
    4px 4px 0 var(--primary-color-50);
}

.subheading {
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 630px) {
  body {
    font-size: 1.2em;
  }

  .heading {
    font-size: 3rem;
  }

  .subheading {
    font-size: 1.6rem;
  }
}

nav {
  padding: 1rem 0 0.2rem;
}

.horizontal-buttons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

nav .horizontal-buttons {
  justify-content: center;
  margin: 0 auto;
}

.horizontal-buttons li {
  margin: 0 1rem 1rem 0;
}

nav .horizontal-buttons li {
  margin: 0 1rem 0.8rem;
}

.horizontal-buttons a {
  background: var(--light-color);
  border-radius: 3px;
  color: var(--primary-color);
  display: block;
  padding: 0.4em 1.2em;
  transition: all 0.1s ease-in-out;
}

.horizontal-buttons.light-bg a {
  background: var(--secondary-light-color);
}

.horizontal-buttons a,
.horizontal-buttons a:link,
.horizontal-buttons a:hover,
.horizontal-buttons a:focus,
.horizontal-buttons a:active {
  text-decoration: none;
}

.horizontal-buttons a:hover,
.horizontal-buttons a:focus {
  box-shadow: 0 3px 0 var(--primary-color-50);
  color: var(--dark-color);
  transform: translate(0, -3px);
}

.horizontal-buttons a:active {
  box-shadow: none;
  color: var(--dark-color);
  transform: none;
}

.actors {
  display: flex;
  margin: 0 0 2em;
  padding: 0;
  flex-wrap: wrap;
}

.actors li {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 512px) {
  .actors li {
    margin-left: 0;
  }
}

.actors li a {
  align-items: center;
  border-radius: 3px;
  display: flex;
  color: var(--light-color);
  font-size: 1.1em;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.actors li a:hover {
  background: var(--secondary-light-color);
  box-shadow: 0 3px 0 var(--primary-color-50);
  color: var(--dark-color);
  transform: translate(0, -3px);
}

.actors li a:active {
  box-shadow: none;
  color: var(--dark-color);
  transform: none;
}

.actors img {
  height: 250px;
  margin-bottom: 0.4rem;
  object-fit: cover;
  width: 200px;
}

/* Actor page */

.actor section {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

@media screen and (min-width: 600px) {
  .actor section {
    flex-direction: row;
  }

  .actor section aside {
    width: 50%;
  }

  .actor section aside:first-child {
    padding-right: 1em;
  }
}

.resume-container {
  background: var(--secondary-color);
  line-height: 1;
  padding: 10px 10px 7px;
  width: 100%;
}

.actor canvas {
  min-height: 10px;
  width: 100%;
}

.addendum {
  margin-top: 1rem;
  padding: 1em 0 0.2em;
}

.addendum ul {
  margin-bottom: 0.5rem;
}

footer {
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 1rem;
  padding: 1em 0;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: var(--light-color);
}
