---
layout: default
renderData:
  title: "{{home.meta_title}}"
  description: "{{home.meta_description}}"
---

<main class="outer">
  <section class="container">
    <h2>{{home.heading1}}</h2>
    <p>{{home.content1 | linebreaks | safe}}</p>
    <img src="{{home.hero_image}}" />
    <iframe class="video" src="{{home.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2 id="class-of">{{home.heading2}}</h2>
    <p>{{home.content2 | linebreaks | safe}}</p>

    <ul class="actors">
      {% for actor in actors.actors %}
        <li>
          <a href="actors/{{actor | full_name | slugify}}/">
            <img src="{{actor.photo_small}}" alt="{{actor | full_name}} headshot"/>
            <caption>{{actor | full_name}}</caption>
          </a>
        </li>
      {% endfor %}
      <li class="spacer spacer-1"></li>
      <li class="spacer spacer-2"></li>
    </ul>
  </section>
</main>

<main id="download" class="download outer">
  <section class="container">
    <p>{{home.content3 | linebreaks | safe}}</p>
    <ul class="horizontal-buttons light-bg">
      <li>
        <a href="{{actors.zip_file}}" download>
          {{home.download_text}}
        </a>
      </li>
      <li>
        <a href="{{home.videos_url}}" target="_blank" rel="noopener noreferrer">
          {{home.videos_text}}
        </a>
      </li>
    </ul>
  </section>
</main>

<main class="addendum outer">
  <section class="container">
    <p>{{home.department_website_text}}</p>
    <ul class="instagram horizontal-buttons">
      <li>
        <a href="{{home.department_website_url}}" target="_blank" rel="noopener noreferrer">
          {{home.department_website_url}}
        </a>
      </li>
    </ul>

    <p>{{home.instagram_text}}</p>
    <ul class="instagram horizontal-buttons">
      {% for account in home.instagram_accounts %}
        <li><a href="{{account.url}}" target="_blank" rel="noopener noreferrer">{{account.text}}</a></li>
      {% endfor %}
    </ul>
  </section>
</main>
