{% macro attr(condition, name, val) %}{% if condition %}{{name}}="{{val}}"{% endif %}{% endmacro %}

<header class="outer">
  <div class="container">
    <h1>
      <a href="/">
        <span class="heading">{{site.heading}}</span>
        <span class="subheading">{{site.subheading}}</span>
      </a>
    </h1>
  </div>
</header>

<nav class="outer">
  <ul class="container horizontal-buttons">
    {% for nav_item in site.navigation %}
      <li>
        <a
          href="{{nav_item.url}}"
          {{attr(nav_item.new_tab, "target", "_blank")}}
        >
          {{nav_item.text}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
